

.containerPadre{
    height: 100vh;
    width: 100%;
    }

.header{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    
}


.containerImgDescrep{
    width: 1500px;
    height: 80vh;
    display: flex; 
    /* border: 2px solid green; */
    flex-wrap: wrap;
    border: solid red 1px;
}


.containerImg{
    
    
   width: 40%;
   background-size: cover;
   background-position: center;
}

.containerDescrip{
    background-color: #212121;
    box-shadow: var(--box_shadow_card);
    width: 60%;

}

.containerTextDescrip{
    
    width: 95%;
    color: white;
    background-color: #212121;
    box-shadow: var(--box_shadow_card);
    padding: 1rem;
}

.descriptionText{
    margin-top: 1rem;
    text-justify:distribute
}

.ratingAndReleased{
    
    margin-top: 1rem;    
    display: flex;
    justify-content: space-between;
}

/* From uiverse.io */
.detailButton {
    background: #b33939;
    font-family: inherit;
    padding: 0.1em 1em;
    font-weight: 900;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
   }
   
   .detailButton:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }

   .tittle{
    
    border-bottom: 1px solid white;
    margin-bottom: 0.5em;
   }

.center{
    
    display: flex;
    align-items: center;
    justify-content: center;
}